* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


body {
    width: 60%;
    margin: auto;
    font-family: font-family: 'Montserrat', sans-serif;;
}

p {
    font-size: 1.2rem;
    color: #AEAEAE;
}

.debug > .siteheader {
    height: 80px;
    background-color: darkgoldenrod;

}

.siteheader {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.logo_container {
    height: 60px;
    width: 200px;
    border-right: 1px solid #E8E8E8;
    vertical-align: middle;
}

.logo {
    height: 60px;
    vertical-align: middle;
}

.navigazione {
    padding-top: 2rem;
    word-spacing: 10px;
    color: #A4A4A4;

}
.debug .jumbo {
    height: 250px;
    background-color: darkorchid;
}

.principale {
    margin-bottom: 1rem;
    height: 450px;
    width: 100%;
    
}

.jumbo {
    background-image: url(../img/immagine_modificata.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: white;
    padding-top: 250px;
    padding-left: 50px;
    background-color: lightgrey;
    background-blend-mode: multiply;

}

.big1, .little1 {
    color: white;
}

.descrizione {
    display: inline-block;
}

.debug .intro {
    height: 80px ;
    background-color: darkseagreen;
}

.intro {   
    margin-bottom: 1rem;
    padding-top: 20px;

}

.debug .sitefooter {
    height: 80px;
    background-color: grey;
}

.sitefooter {
    margin-bottom: 1rem;
    margin-top: 1rem;
}



/* Debug class */

.debug .colonna1 {
    height: 200px;
    background-color: limegreen;
}

.debug .colonna2 {
    height: 200px;
    background-color: orange;
}

.debug .colonna3 {
    height: 200px;
    background-color: teal;
}

.columscontainer {  
    margin-bottom: 1rem;
}

.colonna1 {
    float: left;
    width:20%;
    
}

.container_image1 {
    background-image: url(../img/img-1.jpg);
    height: 175px;
    width: 100%;
    background-color: lightgrey;
    background-blend-mode: multiply;
    border-radius: 10px;
}


.colonna2 {
    float: left;
    width: 56%;
    height: 100%;
    margin: 0 2%;
}

.container_image2 {
    background-image: url(../img/Banner2_modificato.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 175px;
    width: 100%;
    background-color: lightgrey;
    background-blend-mode: multiply;
    border-radius: 10px;
}

.colonna3 {
    float: left;
    width:20%;
    
    
}

.container_image3 {
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    height: 175px;
    width: 100%;
    background-color: lightgrey;
    background-blend-mode: multiply;
    border-radius: 10px;
}


